<table class="tableTex">
  <tr>
<h1>¡Bienvenido a tematicas!</h1></tr>
<tr><p>Así, cuando hablamos de temática se está haciendo referencia al tema que aparece en una exposición,
   en una presentación, en una charla o en un sinfín de situaciones diferentes.</p></tr>
</table>
<div class="right-align">

  <button class="add-button" (click)="abrirFormularioEnModal()"> + Agregar Nuevo Registro</button>
</div>

<table>
  <thead>

    <tr>

      <th>Nombre</th>
      <th>colores</th>
      <th>Muestra</th>
    <th>Acciones</th> 

    </tr>
  </thead>


  <tbody>


<h1> Tematicas mas recientes</h1>
    <tr *ngFor="let tem of tematicas.reverse().slice(0, 4)">

      <td>{{tem?.name}}</td>
      <td>{{tem?.color1 + " - " + tem?.color2}}</td>

      <td class="color-td">
        <div class="circle" [style.background]="combineColors(tem.color1, tem.color2)"></div>
      </td>
       <!-- <td><button class="delete-button" id="eliminarBtn" (click)="confirmarEliminacion(tem?.name)">Eliminar Registro</button>

            <script src="script.js"></script></td> -->
       
    </tr>

<h1> Todas las Tematicas</h1>
    <tr>

      <th>Nombre</th>
      <th>colores</th>
      <th>Muestra</th>
    <th>Acciones</th> 

    </tr>



  <tbody>



    <tr *ngFor="let tem of tematicas.reverse()">

      <td>{{tem?.name}}</td>
      <td>{{tem?.color1 + " - " + tem?.color2}}</td>

      <td class="color-td">
        <div class="circle" [style.background]="combineColors(tem.color1, tem.color2)"></div>
      </td>
       <!-- <td><button class="delete-button" id="eliminarBtn" (click)="confirmarEliminacion(tem?.name)">Eliminar Registro</button>

            <script src="script.js"></script></td> -->
       
    </tr>

  </tbody>
</table>