<h1>Tematicas</h1>

<div>
  <h2>Registros Locales</h2>
  <form [formGroup]="formtema"  (ngSubmit)="onSubmit()">
    <label>id:</label>
    <input formControlName="id" value="id" placeholder="id" class="form-control">

    <label>nombre:</label>
    <input formControlName="nombre" value="nombre" placeholder="nombre" class="nombre">
    <button type="submit">Guardar</button>
  </form>
  <ul>
    <li *ngFor="let registro of tematicas" >
      {{ registro?.id }}
      {{ registro?.nombre }}
    
    </li>
   
  </ul>
</div>

  <!--  <app-tematicas></app-tematicas>
  </div>
  <router-outlet></router-outlet>

<th> lista </th>
<tr *ngFor="let tematica of tematicas">

<td> {{tematica.nombre}} </td>
</tr>-->