

.form-container {
    background-color: #fff;
    padding: 20px;
  }
  
  .form-container h2 {
    color: #fff;
    background-color: #47379f;
    padding: 10px;
    margin-bottom: 20px; /* Add some margin to separate header from form */
  }
  
  form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(42, 16, 185, 0.071); /* Add a subtle box-shadow for a card-like appearance */
  }
  
  label {
    margin-top: 10px;
  }
  
  .input-error {
    color: red;
  }
  
  .form-footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end; /* Align buttons to the end of the form */
  }
  
  /* Angular Material button styles */
  .form-footer button {
    margin-left: 8px; /* Add some space between buttons */
  }
  
  .form-footer .save-button {
    background-color: #4caf50;
    color: #fff;
  }
  
  .form-footer .cancel-button {
    background-color: #ff6961;
    color: #fff;
  }
  .color-input-container {
    display: flex;
    align-items: center;
}

.color-input-container input[type=color] {
    margin-right: 10px; /* Espaciado entre el input de color y el marcador de posición */
}
  