<!-- tematica-form.component.html -->
<!-- <div class="form-container">
    <h2>Agregar Tematica</h2>
  
    <form [formGroup]="tematicaForm" (ngSubmit)="onSubmit()">
      <label for="name">Nombre:</label>
      <input type="text" id="name" formControlName="name" required>
  
      <label for="color1">Color 1:</label>
      <input type="text" id="color1" formControlName="color1" required>
  
      <label for="color2">Color 2:</label>
      <input type="text" id="color2" formControlName="color2" required>
  
      <div class="form-footer">
        <button type="submit">Guardar</button>
        <button type="button" (click)="tematicaForm.reset()">Cancelar</button>
      </div>
    </form>
  </div> -->
  

<!-- <app-formulario-tematicas (eventema)="recibirFormulario($event)"></app-formulario-tematicas>
<button (click)="cerrarModal()">Cerrar</button>


 -->
